
$main-color:#80240b;
$medium-background-color:#d8d8d8;

@mixin shadow() {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin weak-shadow() {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}

