html, body {
    margin: 0;
    padding: 0;
}

.invalid-feedback:after {
    content: "*";
    color: #ff3644;
    position: absolute;
    top: 40px;
    font-size: 16px;
    right: 18px;
}
.table-container {
    margin-top: 20px;
}

#add-power {

}
#add-power:hover {
    cursor: pointer;
    color: dodgerblue;
}

.remove-power {
    font-size: 20px;
    line-height: 14px;
    font-weight: bold;
    transform: rotateX(45deg);
}
.remove-power:hover {
    color: #ff3644;
    cursor: pointer;
}